@mixin font($fs: 18px, $fw: 400, $lh: 24px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: decimal-round($lh/$fs, 2);
}
.section-we-do__title {
  justify-content: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-title);
}
.team__title {
  // display: flex;
  // margin-left: -30px;
  // margin-top: -30px;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-title);
}
.customers__title {
  justify-content: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-title);
}
